/* --- Styles for the first 11 steps in Psuedo-Classes exercise --- */

ul.top > li {
    display: inline;
    list-style: none;
}

span.inline {
    display: block;
    border: 1px solid grey;
    margin: 25px;
}

article.n-child section:nth-of-type(even) {
    border: 1px solid orange;
}

ul.top :not(:last-child)::after {
    content: ", ";
}

article.n-type section:nth-of-type(odd) {
    color: blue;
}

article.first-of-type aside:nth-of-type(1) {
    background-color: lime;
} 

article.first-of-type section:nth-of-type(1) {
    background-color: purple;
}

article.three section {
    background-color: orange;
}

article.three section:first-child {
    background-color: goldenrod;
}

article.three section:last-child {
    background-color: darkslategray;
}

article::before {
    content: "Article parent element";
    /* The styles below would be if I only wanted to style the newly created content that article::before places into the DOM, with a border and background-color. See comment below for what I felt like Requirement #11 states. */
    /* border: 1px dashed gray; */
    /* background-color: royalblue; */
}

/* I wasn't 100% sure how to add style for Requirement #11. The requirement seemed to read that each article element should get a dashed gray border and a background color of royal blue. Not just the content that is created in the above article::before selector. */
article {
    border: 1px dashed gray;
    background-color: royalblue;
}

/* --- Styles for Event Pseudoclasses exercise --- */

ul.navbar li {
    list-style: none;
    display: inline;
    padding-right: .2em;
    padding-left: .2em;
}

ul.navbar {
    padding: 0;
}

ul.navbar a:hover {
    color: fuchsia;
}

ul.navbar li:hover {
    background-color: turquoise;
}

ul.navbar li:active {
    padding-left: 5px;
    padding-right: 5px;
}

